{% extends 'base.html' %}

	{% block body %}
		<!-- Header and Nav -->
		<div class="row">
			<div class="large-3 columns">
				<h1><img src="" /></h1>
			</div>
		</div>
		<!-- End Header and Nav -->

		<!-- Main Content Section -->
		<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
		<div class="row">
			<div class="">
				<h3>Low Cost IVR System for NGOs</h3>
			
				<br />
				<h5>Abstract:</h5>
				<br />


				<div>NGOs need money for operations. There is no direct correlation with the work and income i.e unlike a for-profit company where the work you do is directly sold for revenue, the correlation between raising money and solving problems is very little.
				<br/> So NGOs have to put resources on creating successful media campaigns, getting the right connections, filling tons of forms and paperwork for grants, aid and taxation. Not to forget the hassles in getting the NGO recognized as an NGO and finding a secure way of getting tax-exempt donations. What all this results in is a lack of focus. The people created the NGO to solve a problem and now the focus is on doing things that get attention to help raise money.<br/><br/> This IRV system just wont only help NGO to automate donations but also different NGOs can share a single number for the same purpose.  <div>
			</div>

			<!-- Nav Sidebar -->
			<!-- This is source ordered to be pulled to the left on larger screens -->
			<div class="large-3 pull-9 columns">
				<ul class="side-nav">
					<li><a href="/"></a></li>
				
				</ul>
			</div>
		</div>
	{% endblock %}
</html>

